/**
 * @name NieR: Automata UI Dark
 * @version 1.4
 * @description Glory to Mankind. || 
 * Thanks to JulioDRai for letting me use their cursors! 
 * ~https://www.deviantart.com/juliodrai || 
 * Thanks to GOmonkeymanGO for letting me use some of their code 
 * ~https://github.com/ChaseIngebritson/YoRHa-Discord-Theme || 
 * @website https://github.com/AccraZed/YoRHA-UI-BetterDiscord
 * @author Accrazed#2710
 * @invite X4nBPCa
 * @patreon https://www.patreon.com/accrazed
 * @authorId 153562159161278473
 */

 /* Font */

@font-face {
  font-family: 'sce-ps3_rodin_latinregular';
  src: url('sce-ps3-rd-i-latin-webfont.woff2') format('woff2'),
      url('sce-ps3-rd-i-latin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'sce-ps3_rodin_latinregular';
  src: url('sce-ps3-rd-bi-latin-webfont.woff2') format('woff2'),
      url('sce-ps3-rd-bi-latin-webfont.woff') format('woff');
  font-weight: italic;
  font-style: bold;
}

@font-face {
  font-family: 'sce-ps3_rodin_latinregular';
  src: url('sce-ps3-rd-b-latin-webfont.woff2') format('woff2'),
      url('sce-ps3-rd-b-latin-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'sce-ps3_rodin_latinregular';
  src: url('sce-ps3-rd-r-latin-webfont.woff2') format('woff2'),
      url('sce-ps3-rd-r-latin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main File */

@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/NieR-Import.theme.css"); 

/* Dark Part of Theme */

#app-mount {
  background: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/wallpapers/dark-theme-1440.png")
      center/cover no-repeat;
}
.homeIcon-r0w4ny {
  background: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_dark-theme.png")
      center/contain no-repeat;
}
#app-mount:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
          to right,
          rgba(218, 212, 187, 0.05),
          transparent 30%,
          transparent 80%,
          rgba(218, 212, 187, 0.05)
      ),
      radial-gradient(transparent 50%, rgba(218, 212, 187, 0.1));
  user-select: none;
  pointer-events: none;
}
.theme-dark .mentioned-Tre-dv a.anchor-1MIwyf {
  background-color: var(--color-low-trans);
  border-radius: 0.25em;
}
::selection {
  background-color: var(--color-alert);
  color: var(--color-low);
}

/* GLOBAL VARIABLES */
:root {
  --color-high: rgb(87, 84, 74);
  --color-low: rgb(218, 212, 187);
  --color-mid: rgb(151, 147, 129);
  --color-alert: rgb(205, 102, 77);
  --color-high-trans: rgba(87, 84, 74, 0.6);
  --color-low-trans: rgba(218, 212, 187, 0.8);
  --color-alert-trans: rgba(205, 102, 77, 0.7);
  --nier-font: sce-ps3_rodin_latinregular;
}
